body {background-color: powderblue}
h1 {color: blue;
	text-align: center;
	font-size:35px;}
li {color: black;
	text-align: center;
	font-size: 26px }
h2 {color: black;
	text-align: center;
	font-size: 40px;}
